@page "/addresses"

<h3>Address Entry</h3>

<EditForm OnValidSubmit="ValidSubmit" Model="model">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText class="form-control mb-2" placeholder="Street Address" @bind-Value="model.StreetAddress" />
    <InputText class="form-control mb-2" placeholder="City" @bind-Value="model.City" />
    <InputText class="form-control mb-2" placeholder="State" @bind-Value="model.State" />
    <InputText class="form-control mb-2" placeholder="Zip Code" @bind-Value="model.ZipCode" />

    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

<h3>Address List</h3>

<ul>
    @foreach(var a in addresses){
        <li>@a.StreetAddress<br>@a.City, @a.State, @a.ZipCode</li>
    }
</ul>

@code {
    private AddressModel model = new();
    private List<AddressModel> addresses = new();

    private void ValidSubmit()
    {
        addresses.Add(model);
        model = new();
    }
}
